<h1>What number do you want?</h1>
<form action="/results">
  <div class="form-group">
    <label for="num">Enter your number</label>
    <input type="number" name="num" required>
  </div>
  <button type="submit" name="button" class="btn-success">Show me dat word</button>
</form>
